
{% extends 'padre.html' %}


{% block contenido_que_cambia %}

    <h1 style="color: rgb(177, 55, 55); font-size: 40px;"> Proyecto Final </h1>
    <br>
    <br>
    <br>
    <br>
    <p style="font-size: 20px; margin: 3em;">Programa realizado para el Curso de Python - comisión 54145 de la plataforma de aprendizaje online CoderHouse.</p>
    <br>
    <br>    
    <!-- {% if user.is_authenticated %}
        <img src="{{url}}" alt="avatar">     
    {% endif %} -->
        
    <p style="font-size: 20px;">{{message}}</p>

{% endblock contenido_que_cambia %}
    