
{% extends 'padre.html' %}

{% block contenido_que_cambia %}

<form class="form" action="{% url 'eliminar_inquilino' inquilino.id %}" method="post"> {% csrf_token %}
    <h2>Formulario Inquilino</h2>
    <br>
    <br>
    <p>¿Está seguro que desea eliminar al inquilino?</p>
    <br>
    <br>
    <button type="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none;  border-radius: 5px;  cursor: pointer;">Eliminar</button>    
    <button style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none;  border-radius: 5px;  cursor: pointer;">
         <a href="{% url 'lista_inquilinos' %}" style="text-decoration: none; color: white;">Cancelar</a>
    </button>    
 </form>
    
{% endblock contenido_que_cambia %}