

{% extends 'padre.html' %}

{% block contenido_que_cambia %}

<h2>Vista en detalle del inquilino: {{inquilino.apellido}}</h2>

<ul style="margin-top: 15px;">
    <p>Nombre: {{inquilino.nombre}}</p>
    <p>Teléfono: {{inquilino.telefono}}</p>
    <p>Mail: {{inquilino.mail}}</p>
    <p>Valor del alquiler actual: $ {{inquilino.valor_alquiler}}</p>
</ul>

<button style="padding: 10px 20px; margin-top: 20px; background-color: #4CAF50; color: white; border: none;  border-radius: 5px;  cursor: pointer;">
    <a href="{% url 'lista_inquilinos' %}" style="text-decoration: none; color: white;">Volver</a>
</button>

{% endblock contenido_que_cambia %}