
{% extends 'padre.html' %}

{% block contenido_que_cambia %}

<h2>Lista de Inquilinos disponibles</h2>

<ul class="animate__animated animate__fadeInUp">

  {% for inquilino in inquilinos  %} 

    <li style="margin-top: 25px;">
        <a href="{% url 'detalle_inquilino' inquilino.id %}" style="color: bisque;">
            {{inquilino}}            
        </a>
    </li>

    <div style="display: flex; column-gap: 5px;">
      <button style="padding: 10px 20px; margin-top: 5px; background-color: #4CAF50; color: white; border: none;  border-radius: 5px;  cursor: pointer;"> 
        <a href="{% url 'actualizar_inquilino' inquilino.id %}" style="text-decoration: none; color: white;">Actualizar</a>
      </button>     
      <button style="padding: 10px 20px; margin-top: 5px; background-color: #4CAF50; color: white; border: none;  border-radius: 5px;  cursor: pointer;"> 
        <a href="{% url 'eliminar_inquilino' inquilino.id %}" style="text-decoration: none; color: white;">Eliminar</a>
      </button>     
    </div>

  {% endfor %}

</ul> 

<a href="{% url 'crear_inquilino' %}" style="color: bisque; margin-top: 25px;" class="animate__animated animate__backInUp">Nuevo Inquilino</a>
    
{% endblock contenido_que_cambia %}