
{% extends 'padre.html' %}

{% block contenido_que_cambia %}

<form class="form" action="{% url 'inquilino_formulario' %}" method="post"> {% csrf_token %}
    
    <div style="margin-top: 25px; display: flex; gap: 15px; flex-direction: column;">

        <h2>Formulario Inquilino</h2>
        
        {{mi_formulario_inquilino.as_p}}
        
        <button type="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none;  border-radius: 5px;  cursor: pointer;">
            Cargar datos del inquilino
        </button>
    
    </div>
    
 </form>
    
{% endblock contenido_que_cambia %}