

<header>
    <nav>
      <ul>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'inmueble_formulario' %}">Inmueble</a></li>
        <li><a href="{% url 'propietario_formulario' %}">Propietario</a></li>
        <li><a href="{% url 'inquilino_formulario' %}">Inquilino</a></li>
        <li><a href="{% url 'lista_inquilinos' %}">Lista de Inquilinos</a></li>
        <li><a href="{% url 'busqueda_inmueble' %}">Buscar</a></li>
        <li><a href="{% url 'lista_inmuebles' %}">Todos los inmuebles</a></li>
        <li><a href="{% url 'registrar' %}">Registrar</a></li>            
        {% if user.is_authenticated %} 
          <form action="{% url 'logout' %}" method="post" style="display:inline"> {% csrf_token %}            
            <button type="submit" style="padding: 5px">Logout - ({{user.username}})</button>                       
          </form>
        {% else %}
          <li><a href="{% url 'login' %}">Ingresar</a></li>        
          {% endif %}
        
          <!-- se muestra el enlace a 'Editar Perfil' solo cuando el usuario está logueado -->
        {% if user.is_authenticated %} 
          <li><a href="{% url 'editar_perfil' %}">Editar Perfil</a></li>         
        {% endif %}
          
      </ul>
    </nav>
</header>